<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h1>Login</h1>
            </div>
            <div class="card-body">
                <form #loginForm="ngForm" (ngSubmit)="login(loginForm);">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" id="username" name="username" placeholder="Username" class="form-control" autocomplete="username"
                            ngModel required>

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" id="password" name="password" placeholder="Password" class="form-control" autocomplete="password"
                            ngModel required>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn float-right yellow">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                    <div class="alert alert-danger form-group" role="alert" *ngIf="loginAlert">{{loginAlert}}</div>
                <div class="d-flex justify-content-center links">
                    Don't have an account?<a href="/sigup">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>