<div class="container">
  <div class="row" *ngFor="let data of photo">
    <div class="col-md-12" >
      <h1 class="left">User: {{data.username}}</h1>
      <button class="btn btn-outline-secondary yellow right" type="submit" (click)="back()">Home</button>
    </div>
    <div class="col-md-12">
      <p>Average stars: <i class="fa fa-star" aria-hidden="true"></i>{{(data.sumvotes/data.nvotes).toFixed(2)}}</p>
      <p>Users voted: <i class="fa fa-users" aria-hidden="true"></i>{{data.nvotes}}</p>
      <img class="card-img-top" src={{data.url}} width="100%">
    </div>
  </div>
</div>