input[type="file"] {
    display: none;
}

label{
    margin-bottom: 0px;
}

.album{
    position: relative;
    padding-top: 2%;
}

.card{
    width: 18rem;
    margin: 0 auto;
    float: none;
}

.input-group-text{
    width: initial;
}

form{
    width: 100%;
}



h1{
    margin-top:10px;
}

.shadow{
    background-color: rgba(0,0,0,0.6);
}

.pointer{
    cursor: pointer;
}

h4{
  word-wrap: break-word;
}
