
.icon{
    -webkit-appearance: none; 
    font-size:48px;
    padding: 1%;
}

input[type="file"] {
    display: none;
}

label{
    margin-bottom: 0px;
}

.album{
    position: relative;
    padding-top: 5%;
}

.card{
    width: 18rem;
}

.pointer{
    cursor: pointer;
}
   
.center{
    margin-top:2px;
    text-align: center;
}