<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Photo Contest</h1>
            <i type="submit" class="fas fas fa-sign-out-alt logout" (click)="logout()"></i>
        </div>
    </div>
    <div class="row">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Insert url" aria-label="Insert url" value={{fileName}}>
            <div class="input-group-append">
                <label for="file-upload" class="btn btn-outline-secondary login_btn">
                    <i class="fa fa-cloud-upload"></i> Browser
                </label>
                <input id="file-upload" type="file" accept="image/*" (change)="onFileChange($event)" />
                <button class="btn btn-outline-secondary login_btn" type="submit" (click)="upload()">Upload</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 album" *ngFor="let data of arrayPhoto">
            <div class="card">
                <img class="card-img-top" src={{data.url}}>
                <div class="card-body" *ngIf="like">
                  
                    {{data.ID_user}}
                    {{data.mvotes}}
                    {{data.nvotes}}
                </div>
                <div class="card-body" *ngIf="!like">
                    {{data.ID_user}}
                    <form #likeForm="ngForm" (ngSubmit)="votePhoto(likeForm);">
                        <select class="form-control" [(ngModel)]="vote" name="vote" required>
                            <option *ngFor="let vote of votes" value="{{vote.value}}">{{vote.value}}</option>
                        </select>
                        <input type="hidden" name="id" [(ngModel)]="data.ID"/>
                        <button type="submit" class="btn btn-warning">Vote</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>