
.album{
    position: relative;
    padding-top: 5%;
}

.card{
    width: 18rem;
    margin: 0 auto;
    float: none;
}

.pointer{
    cursor: pointer;
}

.search{
    margin-top:20px;
    margin-left: 0px;
}
.search button{
    margin-left: 3.3%;
}

  @media (max-width: 767.5px) {
    .search button {
        margin-top: 10px;
        margin-left: 0px;
    }
    .search {
      flex-direction: column;
      align-items: stretch;
      margin-right: 0px;

    }
  }
