<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="left">Rating</h1>
      <button class="btn btn-outline-secondary yellow right" type="submit" (click)="back()">Home</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 album" *ngFor="let data of photos;  index as i">
      <div class="card">
        <a class="pointer" (click)="ViewphotoDetail(data.ID)" target="_blank">
          <img class="card-img-top" src={{data.url}}>
        </a>
        <div class="card-body" *ngIf="photos">
          <p>User: {{data.username}}</p>
          <p>Average stars: <i class="fa fa-star" aria-hidden="true"></i>{{(data.sumvotes/data.nvotes).toFixed(2)}}</p>
          <p>Users voted: <i class="fa fa-users" aria-hidden="true"></i>{{data.nvotes}}</p>
          <p>Postion: <i class="fas fa-trophy" aria-hidden="true"></i>{{i+1}} </p>
        </div>
        <div class="card-body" *ngIf="!photos">
          <h1>{{message}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>